mark {
	color: red;
	padding-bottom: 2em;
	border-bottom: 2px solid #a6dcf3;
}
.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input {
	display: flex;
	height: 600px;
	justify-content: space-around;
}

#userInput {
	opacity: 0.9;
	color: black;
}

.sidebar {
	background-color: #f2f2f2;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

.w-70 {
	width: 70%;
}

.w-30 {
	width: 30%;
}

button {
	display: flex;
	justify-content: end;
	position: relative;
	display: inline-block;
	font-size: 22px;
	border-radius: 6px;
	text-align: center;
	transition: bottom 0.01s linear;
	box-shadow: 3px 4px 0px #87a86f;
}

#text-output {
	line-height: 35px;
}

.card-text p {
	margin-bottom: 0.3rem;
}

.card {
	margin: 5px 0;
}